<mat-card class="margin">
  <mat-card-content (click)="openEmpresa(empresa.id)">
    <img mat-card-image src="assets/logo/{{empresa.logo}}" alt="Logo da Empresa">

    <h2 class="align-center">{{empresa.nome}}</h2>

    <div class="align-info">
      <div></div>
      <p> Rating
        <br> {{empresa.rating | ratingFormat}}</p>
      <div class="dash"></div>
      <p>
        Taxa
        <br> {{empresa.taxa}} % a.a
      </p>
      <div class="dash"></div>
      <p>
        Prazo
        <br> {{empresa.prazo}} meses
      </p>
      <div></div>
    </div>

    <p class="progress">
      {{empresa.investido | currencyFormat}} de
      <b>{{empresa.total | currencyFormat}}</b>
    </p>

    <mat-progress-bar mode="determinate" [value]="empresa.porcentagem" color="{{(empresa.porcentagem==100?'green':'primary')}}">
    </mat-progress-bar>

  </mat-card-content>

  <mat-card-actions class="btn">
    <!-- <div></div> -->
    <!-- <button mat-raised-button color="primary">Mais Detalhes</button> -->
    <button mat-raised-button class="btn-investir" color="accent" (click)="investir(empresa.id)" *ngIf="!empresa.status">INVESTIR</button>
    <button mat-raised-button class="btn-investir" color="accent" (click)="openEmpresa(empresa.id)" *ngIf="empresa.status">{{empresa.status | uppercase}}</button>
    <!-- <div></div> -->
  </mat-card-actions>
</mat-card>