<mat-card class="margin">
  <mat-card-content (click)="openEmpresa(empresa.id)">
    <img mat-card-image src="assets/logo/{{empresa.logo}}" alt="Logo da Empresa">

    <h2 class="align-center">{{empresa.nome}}</h2>

    <div class="align-info">
      <div></div>
      <p>&nbsp;Rating
        <br> 
        <span class="valor"> 
          {{empresa.rating | ratingFormat}}
        </span>
      </p>
      <div class="dash"></div>
      <p>
        Taxa
        <br> 
        <span class="valor">{{empresa.taxa}}</span><br>% a.a
      </p>
      <div class="dash"></div>
      <p>
        Prazo
        <br> 
        <span class="valor">{{empresa.prazo}}</span><br>meses
      </p>
      <div></div>
    </div>

    <p class="progress">
      <span class="v2">{{empresa.investido | currencyFormat}}</span> de
      <span class="v1">{{empresa.total | currencyFormat}}</span>
    </p>

    <mat-progress-bar mode="determinate" [value]="empresa.porcentagem" color="{{(empresa.porcentagem==100?'green':'primary')}}">
    </mat-progress-bar>

  </mat-card-content>

  <mat-card-actions class="btn">
    <button mat-raised-button class="btn-investir" color="accent" (click)="investir(empresa.id)" *ngIf="!empresa.status">INVESTIR</button>

    <button mat-raised-button class="btn-investir" color="accent" (click)="openEmpresa(empresa.id)" *ngIf="empresa.status" disabled>{{empresa.status | uppercase}}</button>
    <!-- <div></div> -->
  </mat-card-actions>
</mat-card>