
.margin {
    /* padding: 14px; */
    margin: 14px;
}


/* pesquisar na lista */

.form {
    width: 100%;
}

.search {
    padding-top: 0;
    padding-bottom: 0;    
}

/* Card de Investimentos */

.progress {
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
}

.align-info {
    /* margin: 0 auto; */
    text-align: center;    
    display: flex;
    justify-content: space-between;
}

.align-center {
    text-align: center;
}

.dash {
    border: 1px solid gray;
}

.btn {
    padding: 0 7px;
}

.btn-investir {
    width: 100%;
}

/* lista de investimentos */
/* 

.investimentos{
    padding: 0;
}

.item-list.completed {
    border-left: 5px solid green;
}

.investimentos-list {
    padding: 0;
}

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}

.more-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.progress-spinner {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

p.progress-spinner {
    position: absolute;
    right: 24px;
    bottom: 14px;
} */
