.btn {
    /* margin: 14px; */

    width: 100%;
}

.align-center {
    text-align: center;
    margin: auto auto;    
}

.email {
    border-bottom: 1px dotted grey;
    width: fit-content;
    margin-bottom: 14px;
}

.acesso {
    margin-top: 14px; 
}


@media only screen and (min-width: 960px) {
    .main {
        width: 300px;
        margin: 28px auto;
    }
}

