<h3>EMAIL</h3>
<p class="align-center email">{{user.email}}</p>

<mat-form-field>
  <input matInput [formControl]="newEmail" placeholder="Novo email" (input)="checkData(checkEmail, newEmail.value)">
  <mat-error *ngIf="newEmail.invalid">{{getErrorMessage(newEmail)}}</mat-error>
</mat-form-field>

<mat-form-field>
  <input matInput [formControl]="checkEmail" placeholder="Confirmar novo email" (input)="checkData(checkEmail, newEmail.value)">
  <mat-error *ngIf="checkEmail.invalid">{{getErrorMessage(checkEmail)}}</mat-error>
</mat-form-field>

<button mat-raised-button color="accent" class="btn acesso" (click)="saveEmail()">Alterar Email</button>

<div class="acesso">
  <mat-divider></mat-divider>

  <h3 class="acesso">SENHA</h3>
  <mat-form-field>
    <input matInput type="password" [formControl]="pwd" placeholder="Senha Atual">
    <mat-error *ngIf="pwd.invalid">{{getErrorMessage(pwd)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" [formControl]="newPwd" (input)="checkData(checkPwd, newPwd.value)" placeholder="Nova Senha">
    <mat-error *ngIf="newPwd.invalid">{{getErrorMessage(newPwd)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" [formControl]="checkPwd" (input)="checkData(checkPwd, newPwd.value)" placeholder="Confirmar Nova Senha">
    <mat-error *ngIf="checkPwd.invalid">{{getErrorMessage(checkPwd)}}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent" class="btn acesso" (click)="savePwd()">Alterar Senha</button>
</div>