
<div class="menu-background">
</div>

<div class="menu">


    
    <div class="tabs mat-elevation-z8">
      
      <nav mat-tab-nav-bar color="accent">
        <div class="align-tabs">
          <a mat-tab-link 
            class="tab"
            *ngFor="let tab of menuItems" 
            [routerLink]="tab.page" 
            #rla="routerLinkActive" 
            routerLinkActive>
            <!-- [active]="rla.isActive" -->
            
            <mat-icon>{{tab.icon}}</mat-icon>
            <div *ngIf="rla.isActive">&nbsp;{{tab.text}}</div>
          </a>
        </div>
      </nav>
    </div>
    
    <div class="router">
      <router-outlet></router-outlet>
    </div>

</div>