
<div class="background">
</div>

<div class="menu">
  
    <div *ngIf="tabs" class="tabs mat-elevation-z8">
      <nav mat-tab-nav-bar color="accent">
        <!-- <div class="position-tabs"> -->

          <div class="align-tabs">
            <a mat-tab-link 
              class="tab"
              *ngFor="let tab of menuItems" 
              [routerLink]="tab.page" 
              #rla="routerLinkActive" 
              routerLinkActive>
              <!-- [active]="rla.isActive" -->
              
              <mat-icon>{{tab.icon}}</mat-icon>
              <div *ngIf="rla.isActive">&nbsp;{{tab.text}}</div>
            </a>
          </div>
        <!-- </div> -->
      </nav>
    </div>

    <!-- <div *ngIf="!tabs">
      <mat-toolbar class="tabs mat-elevation-z8 align-tabs">
        <button mat-icon-button (click)="goback()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Hello World</h1>
        <button mat-icon-button disabled>
        </button>
      </mat-toolbar>
    </div> -->
    
    <div class="router">
      <router-outlet></router-outlet>
    </div>

</div>