<div class="container">
   <!-- onscroll="this.scrollCard()" -->
  <!-- <mat-toolbar class="header" color="primary">
    <button mat-icon-button [mat-dialog-close]="">
      <mat-icon>close</mat-icon>
    </button>
    <h1>
      {{empresa.nome}}
    </h1>
  </mat-toolbar> -->
  

  <mat-card class="mat-elevation-z8">
    <button mat-icon-button class="close" [mat-dialog-close]="">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-title-group>
      <!-- class="align-center" -->
      <!-- <img mat-card-avatar class="avatar" src="assets/logo/{{empresa.logo}}" alt="Logo da Empresa"> -->
      <mat-card-title>{{empresa.nome}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <!-- <img mat-card-image src="assets/logo/{{empresa.logo}}" alt="Logo da Empresa"> -->
      <!-- <div class="align-info">
        <div></div>
        <p> Rating <br> {{empresa.rating | ratingFormat}}</p>
        <div class="dash"></div>
        <p>Taxa <br> {{empresa.taxa}}% a.a</p>
        <div class="dash"></div>
        <p> Prazo <br> {{empresa.prazo}} meses</p>
        <div></div>
      </div> -->
      <p class="progress">
        {{empresa.recebido | currencyFormat}} de
        <b>{{empresa.total | currencyFormat}}</b>
      </p>
      <mat-progress-bar mode="determinate" [value]="empresa.porcentagem" color="{{(empresa.porcentagem==100?'green':'primary')}}"></mat-progress-bar>
    </mat-card-content>

    <!-- <mat-card-actions class="btn">
      <button mat-raised-button class="btn-investir" color="accent" (click)="investir(empresa.id)" cdkInitialFocus>INVESTIR</button>
    </mat-card-actions> -->
  </mat-card>


  <!-- <mat-card id="main-info" class="margin">
    <mat-card-content>
        <h3>Taxa: {{empresa.taxa}}</h3>
        <h3>Rating: {{empresa.rating | ratingFormat}}</h3>
      <h3>{{empresa.obtido | currencyFormat}} de {{empresa.emprestimo | currencyFormat}}</h3>
      <mat-progress-bar mode="determinate" value="{{empresa.porcentagem}}"></mat-progress-bar>
      <button class="mat-elevation-z8 btn-investir" mat-raised-button (click)="investir()" cdkFocusInitial>Investir</button>
    </mat-card-content>
  </mat-card> -->
  
  <mat-tab-group class="tab-group" (selectedIndexChange)="changeTab($event)">
    <mat-tab label="Geral">
      <ng-template mat-tab-label>
        <mat-icon>monetization_on</mat-icon>
        <div *ngIf="tabSelected==0">Geral</div>
      </ng-template>
      <div class="tab-content">

        <div class="scrollable-container">
          <div class="scrollable-x">
            <img class="fotos" *ngFor="let foto of empresa.geral.img" src="{{foto}}">
          </div>
        </div>

        <mat-divider></mat-divider>

        <h2>Descrição</h2>
        <p>{{empresa.geral.descricao}}</p>
        <mat-divider></mat-divider>
        <h2>Como ajuda</h2>
        <p>{{empresa.geral.motivo}}</p>
        <h2>Acionistas</h2>
        <mat-table #acionistas class="table" [dataSource]="empresa.geral.acionistas">
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="porcentagem">
            <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.porcentagem}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="acionistasCol"></mat-header-row>
          <mat-row *matRowDef="let row; columns: acionistasCol;"></mat-row>
        </mat-table>
      <mat-divider></mat-divider>
    
      <h2>Outras</h2>
        <h4>Avalista:</h4>
        <p>{{empresa.geral.avalista}}</p>
        <h4>CNPJ:</h4>
        <p>{{empresa.geral.cnpj}}</p>
        <h4>Número de Empregados:</h4>
        <p>{{empresa.geral.empregados}}</p>
        <h4>Data de Fundação:</h4>
        <p>{{empresa.geral.fundacao}}</p>

        <h4>Página Web:</h4>
        <p>{{empresa.geral.site}}</p>

        <h4>Endereço:</h4>
        <p>{{empresa.geral.endereco}}</p>
      </div>

    </mat-tab>
    <mat-tab label="Financeiro">
      <ng-template mat-tab-label>
      <mat-icon>monetization_on</mat-icon>
      <div *ngIf="tabSelected==1">Financeiro</div>
      </ng-template>
      <div class="tab-content">
        <h2>Faturamento</h2>
        <div>
          <canvas #faturamentoChart></canvas>
        </div>
        <!-- <h2>Highlights</h2> -->
        <!-- <p>{{empresa.financeiro.descritivo}}</p> -->
        <mat-table #highlights [dataSource]="empresa.financeiro.highlights">
          <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef> Highlights </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.info}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="d3">
            <mat-header-cell *matHeaderCellDef> 2015 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.d3}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="d2">
            <mat-header-cell *matHeaderCellDef> 2016 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.d2}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="d1">
            <mat-header-cell *matHeaderCellDef> 2017* </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.d1}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="highlightsCol"></mat-header-row>
          <mat-row *matRowDef="let row; columns: highlightsCol;"></mat-row>
        </mat-table>
      </div>      
    </mat-tab>
    <mat-tab label="Analise">
      <ng-template mat-tab-label>
        <mat-icon>monetization_on</mat-icon>
        <div *ngIf="tabSelected==2">Analise</div>
      </ng-template>
      <div class="tab-content">
        <h2>Rating</h2>
        <div>
          <canvas #ratingChart></canvas>
        </div>
        <h2>Nossa análise</h2>
        <p>{{empresa.analise.comentario}}</p>
      </div>    
    </mat-tab>
    <mat-tab label="Investimento" *ngIf="empresa.investido">
      <ng-template mat-tab-label>
        <mat-icon>monetization_on</mat-icon>
        <div *ngIf="tabSelected==3">Investimento</div>
      </ng-template>
      <div class="tab-content">      
        <h2>Parcelas ({{empresa.investido.parcelas.pago}}/{{empresa.investido.parcelas.total}})</h2>

        <div class="scrollable-container">
          <div class="scrollable-x">
            <div class="button-row">
              <button mat-mini-fab *ngFor="let parcela of parcelas" [ngClass]="parcela.status">{{parcela.valor}}</button>

            </div>
          </div>
        </div>
        
        <mat-divider></mat-divider>
        <h2>Última Notificação</h2>      
        
        <mat-divider></mat-divider>
        <h2>Comprovantes</h2>
        <button mat-raised-button>Contrato</button>
        <button mat-raised-button>Transferência</button>
      </div>      
    </mat-tab>
  </mat-tab-group>

</div>