.inline {
    
    display: inline-block;
}

.float-right {
    /* clear: both; */
    /* float: right; */
    position: absolute;
    right: 14px;
}

.space-evenly {
    display: inline-block;
    margin: 14px auto !important;
    /* width: 200px; */
    width: 100%;
}

.fit-screen {
    text-align: center;
    width: 100%;
}

.money-sign-movimentacao {
    position: absolute;
    right: 94px;
    top: 28px;    
}

.value-movimentacao {
    position: absolute;
    right: 14px;
    top: 28px;
}

@media only screen and (min-width: 960px) {
    .main {
        width: 80%;
        margin: 28px auto;
    }

    .margin {
        margin: 28px;
    }
}

/* @media only screen and (min-width: 960px) {
    .hide-movimentacao {
        display: none;
    }

    #carteira {
        height: 80vh;
        width: 40vw;
        display: inline-flex;
    }

    #movimentacao {
        display: inline-flex;
        height: 80vh;
        width: 40vw;
    }

    .movimentacao-content {
        display: inherit;
        width: 100%;
    }

} */