
.margin {
    /* padding: 14px; */
    margin: 14px;
}

.align-center {
    text-align: center
}

.btn-emprestimo {
    width: 100%;
    /* right: 14px; */
}

.emprestimos{
    padding: 0;
}

/* lista de emprestimos */
/* 
.item-list:hover {
    cursor: pointer;
    background: olivedrab;
} */
/* 
.item-list.sucesso {
    border-left: 5px solid green;
}

.item-list.atencao {
    border-left: 5px solid orange;
}

.item-list.erro {
    border-left: 5px solid red;
} */

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}

.more-btn {
    position: absolute;
    right: 0;
    top: 0;
    /* font-size: 20px; */
}

.progress-spinner {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

p.progress-spinner {
    position: absolute;
    right: 24px;
    bottom: 14px;
}

.completed {
    color: green;
}