

<div class="margin" *ngIf="!emprestimos.ativo">
  <button mat-raised-button color="accent" class="btn-emprestimo" (click)="solicitar()">PEDIR EMPRESTIMO</button>
</div>

<mat-card class="margin align-center" *ngFor="let emprestimo of emprestimos.solicitado; let i = index">
  <mat-card-title-group class="align-center">
    <mat-card-title>Solicitação {{i+1}}</mat-card-title>
  </mat-card-title-group>
  <!-- <mat-card-content> -->
    <section class="mat-typography fix-position">
      <h3 class="first-col">Data:</h3>
      <h4 class="second-col">{{emprestimo.prazo}}</h4>
      <br>
      <h3 class="first-col">Valor:</h3>
      <h4 class="second-col">{{emprestimo.total | currencyFormat}}</h4>
      <br>
      <h3 class="first-col">Taxa:</h3>
      <h4 class="second-col">{{emprestimo.taxa}}% a.a</h4>
    </section>
  <!-- </mat-card-content> -->

  <mat-card-actions>
    <button mat-button (click)="goto('transferencias')">
      {{emprestimo.status | uppercase}}
    </button>
  </mat-card-actions>
</mat-card>