
.align-center {
    text-align: center;
    justify-content: center;    
}

.superalign-center {
    text-align: center;
    /* margin: auto auto; */
}

.btn-emprestimo {
    width: 100%;
    /* right: 14px; */
}

.emprestimos{
    padding: 0;
}

.fix-position {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

.first-col {
    display: inline-block;
    position: absolute;
    left: -10px;
    /* text-align: left; */
}

.second-col {
    display: inline-block;
    position: relative;
    right: -50px;
}

/* lista de emprestimos */
/* 
.item-list:hover {
    cursor: pointer;
    background: olivedrab;
} */
/* 
.item-list.sucesso {
    border-left: 5px solid green;
}

.item-list.atencao {
    border-left: 5px solid orange;
}

.item-list.erro {
    border-left: 5px solid red;
} */

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}

.more-btn {
    position: absolute;
    right: 0;
    top: 0;
    /* font-size: 20px; */
}

.progress-spinner {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

p.progress-spinner {
    position: absolute;
    right: 24px;
    bottom: 14px;
}

.completed {
    color: green;
}