<h1 mat-dialog-title>
  <button mat-icon-button [mat-dialog-close]=""> 
    <mat-icon>close</mat-icon>
  </button>
  FILTRAR
</h1>
<div mat-dialog-content>
  <section class="mat-typography">

    <!-- tipo de emprestimo -->
    <mat-button-toggle-group #tipo="matButtonToggleGroup">
      <mat-button-toggle checked="true" value="all">
        Todos
      </mat-button-toggle>
      <mat-button-toggle value="invest">
        Investimento
      </mat-button-toggle>
      <mat-button-toggle value="receive">
        Parcelas
      </mat-button-toggle>
    </mat-button-toggle-group>
    <p>&nbsp;</p>
    <mat-divider></mat-divider>
    
    <!-- nome da empresa -->
    <h4>Escolha uma empresa para filtrar</h4>
    
    <mat-divider></mat-divider>
    <!-- datas -->
    <h4>Selecione o Periodo</h4>
    <mat-form-field>
      <input matInput [matDatepicker]="from" placeholder="De" [value]="fromDate.value">
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker #from touchUi="true"></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput [matDatepicker]="to" placeholder="Até" [value]="toDate.value">
      <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
      <mat-datepicker #to touchUi="true"></mat-datepicker>
    </mat-form-field>
    
  </section>

</div>
<div mat-dialog-actions>
  <!-- <button mat-button [mat-dialog-close]="">Fechar</button> -->
  <button mat-raised-button color="accent" (click)="filtrar(tipo.value, from.value)" cdkFocusInitial class="filtrar">Filtrar</button>
</div>