/* .empresa {
    font-weight: 500 !important;
} */

/* .new {
    color: orange; 
}
*/

.mensagem-item {
    cursor: pointer;
}

.data {
    text-align: center;
}
/* 
.text {
    position: relative;
    left: 14px;
} */

.status-mensagem {
    position: absolute;
    left: 7px;
    top: 14px;
    height: 60%;
}