.background {
    overflow: auto;
}

/* Header Card */

.close {
    float: left;
}

.progress {
    position: absolute;
    top: 24px;
    right: 24px;
}

.progress-percentage {
    position: absolute;
    top: 12px;
    right: 33px;
    /* border: 1px solid blue; */
    font-size: 1.6em;
}

.progress-percentage span {
    font-size: 0.6em;
}


.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding-bottom: 0;
}

/* FAB Button Investir */

.extended-fab-investir {
    height: 48px;
    border-radius: 24px;
    
    position: fixed;
    bottom: 16px;
    left: 50%;
    
    width: 132px;
    margin-left: -66px; 

    z-index: 15;
}

/* Tabs */

.align-tabs {
    width: 100vw;    
    display: flex;
    justify-content: space-evenly;
}

.tab-group {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 14px;
    width: 100%;
}



::ng-deep .mat-tab-labels {
    justify-content: space-evenly !important;
}

::ng-deep .mat-tab-label {   
    padding: 14px !important;
}

::ng-deep .mat-tab-header {
    position: sticky !important;
    top: 98px;
    z-index: 15;
}



.tab-content {
    padding: 14px;
    text-align: justify;    
}

/* Tab Content */

/* div.scroll {
    transform: translateY(100px);
    transition: 0.3 all ease-in-out;
} */


.scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollable-x {
    width: max-content;
}

.fotos {
    height: 200px;
    margin-right: 14px;
}

.info-geral {
    text-align: center;
    margin: 14px;
}

.align-center {
    text-align: center;
}

.cidade {
    margin-top: 16px !important;
}

.text-wrap {
    word-wrap: normal;
    white-space: pre-line !important;
}

.scroll-button {
    height: 55px;
}

.titulo {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    text-align: left;
}

.valor {
    position: absolute;
    right: 0;
    width: 45px;
    top: 0;
    text-align: center;
}