/* .logo {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;    
} */

.align-center {
    /* margin: 28px auto !important; */
    text-align: center;
}

.fit-screen {
    width: 80vw;    
}

.login {
    position: fixed;
    left: -10px;
    right: 0;
    top: 0;
    bottom: -10px;
}


/* .btn {
    margin: 14px !important;
} */

#login-button::after {
    content: 'Entrar';
}

#login-button.erro::after {
    content: 'Usuário ou Senha Inválidos!'
}

/* .erro {
    background-color: rgba(255, 104, 72, 1);
} */

.login-card {
    /* margin: 14px; */
    /* margin: auto auto; */
    /* position: absolute;
    top: 15%; */
    /* width: 75%; */
    width: 250px;
    margin: 10px auto;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: gray; */
}

@media only screen and (min-width: 376px) {
    .login-card {
        width: 300px;
    }
}




#content {
    opacity: 0;
}



/* logo animation */
/* html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
} */

.logo {
    margin-bottom: -90px; 
}


svg {
  display: block;
  margin: 30px auto;
  /* overflow: hidden; */
  width: 100px;
  height: 210px;
}

.path {
    fill: rgba(0,0,0,0.0);
    stroke: rgba(0,0,0,0.0);
    transition: fill 0.5s, stroke 0.5s;
}

/* fazer animacao css */
/* 
.animation{
    stroke-dasharray:
} */


.fadein {
  -moz-transition: fill 0.6s ease-in 0.1s;
  -o-transition: fill 0.6s ease-in 0.1s;
  -webkit-transition: fill 0.6s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: fill 0.6s ease-in 0.1s;
}
