<div class="login">

    <section class="mat-typography">

    <!-- svg logo -->
    <svg class="logo" enable-background='new 0 0 94.319 207' id='Laag_1' space='preserve' version='1.1' viewbox='0 0 94.319 207' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink'
      xmlns='http://www.w3.org/2000/svg' y='0px'>
      <g>
        <path class="path light" d='M78.063,137.913c8.551,2.343,12.12,7.707,12.12,11.281c0,0,0-44.184,0-51.458s-8.467-10.726-12.949-11.958&#x000A;		L16.304,68.643c-8.551-2.344-12.12-7.706-12.12-11.281c0,0,0,44.184,0,51.458c0,7.272,8.467,10.725,12.949,11.958L78.063,137.913z'
        id='i0'></path>
        <path class="path dark" d='M4.143,109.653c0,0,0-48.917,0-58.75s8.5-14.5,13-16.167s49.999-18.833,57.083-21.583s14.25-6.083,16-9.583&#x000A;		c0,8.833,0,43.666,0,53.5c0,9.375-4.416,10.334-8.166,11.834c-4.268,1.707-57.459,21.791-65.75,25.499&#x000A;		C6.729,98.687,4.143,104.82,4.143,109.653z'
         id='i1'></path>
        <path class="path dark" d='M90.226,96.902c0,0,0,48.917,0,58.751c0,9.833-8.5,14.499-13,16.166s-49.999,18.834-57.083,21.584&#x000A;		s-14.25,6.083-16,9.583c0-8.833,0-43.666,0-53.5c0-9.375,4.416-10.334,8.166-11.834c4.268-1.707,57.459-21.791,65.751-25.499&#x000A;		C87.639,107.869,90.226,101.735,90.226,96.902z'
         id='i2'></path>
      </g>
    </svg>


      <!-- <h1 class="logo">{{APP_NAME}}</h1> -->
      
      <!-- <mat-divider></mat-divider> -->
      
      <div id="content" class="align-center" [ngClass]="content">
      
        <mat-form-field appearance="outline" class="fit-screen">
          <input matInput #email placeholder="Email" (focus)="clearErro()" required>
        </mat-form-field>

          <!-- <br> -->
        <mat-form-field appearance="outline" class="fit-screen">
          <input matInput #pwd type="password" placeholder="Senha" (focus)="clearErro()" required>
        </mat-form-field>
          <br>
        
          <button mat-raised-button id="login-button"  (click)="login(email.value,pwd.value)" color="primary" [ngClass]="loginStatus" class="mat-elevation-z12 login-button fit-screen"></button>

          <br><br>
          
          <!-- <button mat-raised-button color="accent" (click)="goto('signup')" class="mat-elevation-z8 fit-screen" >Cadastre-se</button>   -->
          
      </div>
      
      <div class="footer text">
        <button mat-button class="btn-cadastro" (click)="goto('cadastro')">
          Não tem acesso ainda? Cadastre-se!
        </button>
      </div>

    </section>
</div>