// @import "compass/css3";


@mixin logo-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .logo {
        
        path {
        fill: mat-color($background,background);
        stroke: mat-color($accent,darker);
        stroke-width: 1;

        &#i0 {
            // stroke: mat-color($accent,default, 500);
            &.fadein {
                // fill: mat-color($accent);
            }
        }
        }

        .fadein {
        fill: mat-color($accent,darker);
        // @include transition(fill 0.6s ease-in 0.1s);
        }

    }

}