<div class="login">

  <section class="mat-typography">
    <div class="header text align-center margin">
      <h1>Seja Bem Vindo!</h1>
      <h3>Por favor insira suas informações abaixo.</h3> 
    </div>

    <div class="main">
      <app-config-perfil-empresa [tipo]="config"></app-config-perfil-empresa>
    </div>
    

    <div class="footer text">
      <button mat-button class="btn-cadastro" (click)="goto('login')">
        Já tem acesso? Clique aqui para entrar!
      </button>
    </div>

  </section>
</div>