

.card-investimentos-list {
    padding: 0;
}

/* lista de investimentos */

.investimentos-list {
    padding: 0;
}

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}


.status {
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    margin: 14px;
}

.text {
    margin-left: 14px !important; 
}


.valor {
    margin: 14px;
}

.valor p {
    padding: 0;
    /* border: 1px solid white; */
    margin: 0;
    text-align: right;
}

.filter {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

/* 
.more-btn {
    position: absolute;
    right: 0;
    top: 0;
} */

/* .progress-spinner {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

p.progress-spinner {
    position: absolute;
    right: 24px;
    bottom: 14px;
}

.completed {
    color: green;
} */