<h1 mat-dialog-title>Tabela de Pontos</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let pts of pontuacao" [ngClass]="{ 'status': nivel == pts.nivel }">
      <h3>Nivel {{pts.nivel}}:&nbsp;</h3>
      <h4>{{pts.numPontos}} pontos</h4>
      <!-- <mat-divider></mat-divider> -->
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>