.header {
    position: sticky;
    top: 0;
    z-index: 19;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* border: 1px solid green; */
    text-align: center;
}

.info-text {
    position: absolute;
    width: 100vw;
    height: 300px;
    top: -150px;
    left: -50vw;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* border: 1px solid blue; */
    text-align: center;
}

.status-graph {
    position: relative;
}

.spinner {
    position: absolute;
    top: -145px;
    left: -145px;
}


.status-flag {
    position: absolute;
    left: 10px;
    height: 28px;
    margin-top: -6px;
}


.money-sign {
    position: absolute;
    right: 94px;
}

.value {
    position: absolute;
    right: 14px;
    top: 0;
}

.fab-more {
    position: fixed;
    right: 16px;
    top: 55px;
    margin-top: -20px;
    z-index: 20;
}

.sub-fab {
    position: fixed;
    right: 16px;
    top: 55px;
    margin-top: 20px; 
    width: 40px;

    transform: translateY(-168px);
    transition: all ease-in-out 0.3s;
}

.sub-fab button {
    margin-top: 16px;
}

.sub-fab.open {
    transform: translateY(0px);
}

.focus {
    scroll-snap-destination: 0;
}