<div class="background">

  <mat-toolbar class="mat-elevation-z8 header">
    <button mat-icon-button (click)="goback()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Parcelas</h1>
    <button mat-icon-button disabled>
      <!-- <mat-icon>search</mat-icon> -->
    </button>
  </mat-toolbar>

  <section class="mat-typography info">
    <div class="graph status-graph">
      <mat-progress-spinner class="spinner" color="primary" mode="determinate" [value]="100" [diameter]="290" [strokeWidth]="5"></mat-progress-spinner>
      <mat-progress-spinner class="spinner" color="warn" mode="determinate" [value]="parcelasPagas()+parcelasAtraso()" [diameter]="290" [strokeWidth]="5"></mat-progress-spinner>
      <mat-progress-spinner class="spinner" color="accent" mode="determinate" [value]="parcelasPagas()" [diameter]="290" [strokeWidth]="5"></mat-progress-spinner>
    </div>
    <div class="status-graph">
      <div class="info-text">
        <div class="align-center">
          <div class="text-white">
            <h1>{{parcelas.pago | currencyFormat}}</h1>
            <h2>{{parcelas.numParcelas}}/{{parcelas.parcelas.length}}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <button mat-mini-fab class="fab-more" (click)="toogleFAB()">
    <mat-icon>{{fab.text}}</mat-icon>
  </button>
  <div class="sub-fab" [ngClass]="{ 'open': fab.open == true }">
    <button mat-mini-fab matTooltip="Adcionar contrato" matTooltipPosition="before">
      <mat-icon>insert_drive_file</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Adcionar comprovante" matTooltipPosition="before">
      <mat-icon>receipt</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Ver mais detalhes da empresa" matTooltipPosition="before" (click)="openEmpresa()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let parcela of parcelas.parcelas; let i = index" [disabled]="(parcela.status=='pendente')?true:false" [expanded]="(i==openParcela)?true:false" [ngClass]="{ 'focus': i==openParcela }">
    <mat-expansion-panel-header class="status-item">
        <mat-panel-title>
          <div class="status status-flag" [ngClass]="borderStatus(parcela.status)"></div>
          {{i}}
        </mat-panel-title>
        <mat-panel-description>{{parcela.data}}</mat-panel-description>
        <mat-panel-description>{{parcela.valor | currencyFormat}}</mat-panel-description>        
      </mat-expansion-panel-header>
      <mat-list *ngIf="parcela.status != 'pendente'">
        <mat-list-item>
          <mat-icon matListIcon></mat-icon>
          <p>Bruto</p>
          <p class="value">{{parcela.bruto | currencyFormat}}</p>
        </mat-list-item>

          <mat-list-item>
          <mat-icon matListIcon></mat-icon>
          <mat-icon matListIcon></mat-icon>
            <p>Principal</p>
            <p class="value">{{parcela.principal | currencyFormat}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon></mat-icon>
            <mat-icon matListIcon></mat-icon>
            <p>Rendimentos</p>
            <p class="value">{{parcela.rendimentos | currencyFormat}}</p>
          </mat-list-item>
        
        <mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <p>Multa/Mora</p>
          <p class="value">{{parcela.multa | currencyFormat}}</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>remove</mat-icon>
          <p>Imposto de Renda</p>
          <p class="value">{{parcela.ir | currencyFormat : 2}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>drag_handle</mat-icon>
          <p>Valor Líquido</p>
          <p class="value">{{parcela.liquido | currencyFormat}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
<div>