<h3 mat-dialog-title>Investir: <br> {{resumo.empresa}}</h3>
<div mat-dialog-content>
  <section class="mat-typography">
    <mat-grid-list cols="2" rowHeight="4:3">
      <mat-grid-tile class="align-left">
        <h4>Valor da Oferta:</h4>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="fit">
          <mat-select placeholder="Escolha um valor" [(value)]="oferta">
            <mat-option *ngFor="let opt of ofertas" [value]="opt">
              {{opt | currencyFormat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    
      <mat-grid-tile class="align-left">
        <h4>Taxa de Retorno Bruto: </h4>
        <button mat-icon-button matTooltip="{{descTaxa}}">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>{{this.resumo.taxa}}% a.a</p>
      </mat-grid-tile>

      <mat-grid-tile class="align-left">
        <h4>Plano de Pagamento: </h4>
      </mat-grid-tile>

      <mat-grid-tile class="align-center">
        <p>{{this.resumo.parcelas.total}} parcelas de {{this.resumo.parcelas.valor | currencyFormat}}</p>
      </mat-grid-tile>

      <mat-grid-tile class="align-left">
          <h4>Retorno Bruto: </h4>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>{{this.resumo.retorno.bruto | currencyFormat}}</p>
      </mat-grid-tile>

      <mat-grid-tile class="align-left">
        <h4>Imposto de Renda:</h4>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>{{this.resumo.imposto | currencyFormat: 2}}</p>
      </mat-grid-tile>

      <mat-grid-tile class="align-left">
        <h4>Retorno Líquido: </h4>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>{{this.resumo.retorno.liquido | currencyFormat}}</p>
      </mat-grid-tile>

    </mat-grid-list>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">Fechar</button>
  <button mat-raised-button color="accent" (click)="investir(oferta)" cdkFocusInitial>Investir</button>
</div>