<mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="!end">

  <!-- info de user -->
  <mat-step [stepControl]="cadastroUser" class="overflow">
    <form [formGroup]="cadastroUser">
      <ng-template matStepLabel>Perfil</ng-template>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="nome" #nome required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" #cpf required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" #email required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="tel" #tel required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput formControlName="dob" #dob required>
      </mat-form-field>

      <div class="float-right">
        <button mat-raised-button color="primary" matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>





  <mat-step [stepControl]="cadastroEmpresa" class="overflow">
    <form [formGroup]="cadastroEmpresa">
      <ng-template matStepLabel>Empresa</ng-template>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>CNPJ</mat-label>
        <input matInput formControlName="cnpj" #cnpj required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput formControlName="nomeFantasia" #nomeFantasia required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Razão Social</mat-label>
        <input matInput formControlName="razaoSocial" #razaoSocial required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Data de Fundação</mat-label>
        <input matInput formControlName="fundacao" #fundacao required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="tel" #tel required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Pagina Web</mat-label>
        <input matInput formControlName="site" #site required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Faturamento</mat-label>
        <input matInput formControlName="faturamento" #faturamento required>
      </mat-form-field>

      <div class="float-right">
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary" matStepperNext>Continuar</button>
        <!-- <button mat-raised-button color="primary" (click)="fim()">Concluir</button> -->
      </div>
    </form>
  </mat-step>





  <mat-step>
    <form [formGroup]="outros">
      <ng-template matStepLabel>Adcionais</ng-template>

      <p class="text">Endereço</p>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" #cep required>
      </mat-form-field>

      <div class="fit-screen">
        <mat-form-field appearance="outline" class="inline rua">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" #rua required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="inline num">
          <mat-label>Numero</mat-label>
          <input matInput formControlName="numero" #numero required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="inline complemento">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" #complemento required>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" #bairro required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" #cidade required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" #estado required>
      </mat-form-field>


      <p class="text">Dados Bancários</p>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Banco</mat-label>
        <input matInput formControlName="banco" #banco required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Agencia</mat-label>
        <input matInput formControlName="agencia" #agencia required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fit-screen">
        <mat-label>Conta</mat-label>
        <input matInput formControlName="conta" #conta required>
      </mat-form-field>
      <div class="float-right">
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary" (click)="fim()" [disabled]="outros.invalid">Concluir</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<mat-card *ngIf="end" class="margin">
  <mat-card-content class="align-center">
    <mat-icon class="end-icon" color="primary">{{endIcon}}</mat-icon>
    <h1>{{endText}}</h1>
    <button mat-button class="fit-screen" (click)="end=false">Voltar</button>
  </mat-card-content>
</mat-card>