.btn {
    width: 100%;
}

.align-center {
    text-align: center;
    margin: auto auto;    
}

.email {
    border-bottom: 1px dotted grey;
    width: fit-content;
    margin-bottom: 14px;
}

.acesso {
    margin-top: 14px; 
}


.fit-screen {
    width: 100%;    
}

.float-right {
    float: right;
}

.inline {
    display: inline-block;
}

.rua {
    width: 100%;
}

.num {
    width: 50%;
}

.complemento {
    width: 50%;
}

::ng-deep .mat-horizontal-content-container {
    height: 100px;
}

::ng-deep .mat-horizontal-stepper-content {
    overflow: auto !important;
    height: inherit;
}

@media only screen and (min-height: 400px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 200px;
    }
}
@media only screen and (min-height: 500px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 270px;
    }
}
@media only screen and (min-height: 600px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 340px;
    }
}
@media only screen and (min-height: 650px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 400px;
    }
}
@media only screen and (min-height: 700px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 450px;
    }
}
@media only screen and (min-height: 800px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 550px;
    }
}
@media only screen and (min-height: 900px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 650px;
    }
}
@media only screen and (min-height: 1000px) {
    ::ng-deep .mat-horizontal-content-container {
        height: 100vh;
    }
}

@media only screen and (min-width: 900px) {
    .rua {
        width: 60%;
    }

    .num {
        width: 20%;
    }

    .complemento {
        width: 20%;
    }

}


