.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.tab-group {
    position: sticky;
    top: 60px;
    right: 0;
    left: 0;
}


.margin {
    margin: 14px;
}

#main-info {
    /* position: sticky;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 8; */
}

.table {
    text-align: center;
}

.tab-content {
    padding: 14px;
    text-align: justify;    
}

div.scroll {
    transform: translateY(100px);
    transition: 0.3 all ease-in-out;
}

.btn-investir {
    background-color: orangered;
    border: 1px solid black;
    /* float: right; */
    position: absolute;
    right: 28px;
    top: 28px;
}



.scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollable-x {
    width: max-content;
}

.fotos {
    height: 200px;
    width: 200px;
    margin-right: 14px;
}

/* .button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

.default {
    background-color: grey;
}

.pago {
    background-color: green;
}

.atraso {
    background-color: red;
}