.header {
    position: relative;
    /* top: 50px; */
    height: 80px;
    /* z-index: 5; */
    /* padding: 14px !important; */
}

.progress-spinner {
    position: relative;
    top: 7px;
}

.nivel-icon {
    position: absolute;
    top: 18px;
    left: 31px;
    /* border: 1px solid blue; */
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    /* font-size: 40px;
    width: fit-content;
    height: fit-content;
    margin-right: 14px; */
}

.info-text {
    position: relative;
    left: 14px;
}

.space-item {
    flex: 1 1 auto;
}

#user-info p, #user-info .progress-spinner, #user-info .info-text {
    display: inline-block;
}

.item-value {
    position: absolute;
    right: 14px;
    top: -3px;
}

.item-title {
    position: relative;
    left: 7px;
}

.item-button {
    position: absolute;
    right: 14px;
}

.btn-invite {
   width: 100%;
   margin: 14px 0; 
}

/* 



.info-text p {
    margin-bottom: 0;
}

.margin {
    margin: 14px;
}

.content {
    position: relative;
    top: 100px;
}

.scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.subheader {
    position: sticky;
    left: 0;
    margin-bottom: 0;
    padding-top: 14px;
    padding-left: 14px;
}

.pontos-icon {
    border: 2px solid black;
    border-radius: 50%;
    padding: 7px;
}

.scrollable-x {
    width: max-content;
}

.scrollable-card {
    width: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.scrollable-card p {
    text-align: justify;
    width: 90%;
}

.completo {
    background-color: green;
}

#pontos h4 {
    margin-top: 7px;
} */