.header {
    border-top: 1px solid whitesmoke;
    height: 40px;
    z-index: 10;
}

.space {
    flex: 1 1 auto;
}

.margin {
    /* padding: 14px; */
    margin: 14px;
}

.investimentos{
    padding: 0;
}

/* lista de investimentos */

.item-list:hover {
    cursor: pointer;
    background: olivedrab;
}

.item-list.sucesso {
    border-left: 5px solid green;
}

.item-list.atencao {
    border-left: 5px solid orangered;
}

.item-list.erro {
    border-left: 5px solid red;
}

.investimentos-list {
    padding: 0;
}

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}

.more-btn {
    position: absolute;
    right: 0;
    top: 0;
    /* font-size: 20px; */
}

.progress-spinner {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

p.progress-spinner {
    position: absolute;
    right: 24px;
    bottom: 14px;
}

.completed {
    color: green;
}