


/* items list */

.category {
    position: absolute;
    left: 14px;
    top: 14px;
    height: 50%;
    /* margin: 14px; */
}

.text {
    position: absolute;
    left: 28px;
}

.empresa {
    border: 1px solid red;
    width: 65%;
}

.money-sign {
    position: absolute;
    right: 94px;
}

.value {
    position: absolute;
    right: 14px;
}

.action-btn {
    width: 100%;
}


.title {
    margin-bottom: 0px;
}

.list-items {
    /* width: 80px; */
    /* border: 1px solid white; */
}


.linear-graph {
    /* width: 100%; */
    /* border: 1px solid white; */
    margin-top: 0;
    margin-bottom: 14px;
    padding: 0;
}

.movimentacao {
    margin-top: 14px;
}
 
.linear-graph div {
    display: inline-block !important;
    margin: 0;
    padding: 0;
}

.linear-graph .principal {
    /* width: 78%; */
}

.linear-graph .juros {
    /* width: 19%; */
}






















/* 
.investimentos{
    padding: 0;
}

.investimentos-list {
    padding: 0;
}

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}

.more-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.progress-spinner {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

p.progress-spinner {
    position: absolute;
    right: 24px;
    bottom: 14px;
}

.completed {
    color: green;
} 
*/