
<!-- Card Empresas Investidas -->
  
<mat-card class="margin">
  <mat-card-title-group>
    <mat-card-subtitle>Rendimentos</mat-card-subtitle>
    <mat-card-title class="title">{{ investimentos.total | currencyFormat: 2 }}</mat-card-title>
  </mat-card-title-group>
  
  <div class="linear-graph">
    <div class="principal" [ngStyle]="{ 'width': percentPrincipal + '%' }"></div>
    <div class="juros" [ngStyle]="{ 'width': percentJuros + '%' }"></div>
  </div>
  
  <mat-card-content>
    <mat-list>
      <section class="mat-typography">
        
        <mat-list-item>
          <div class="category principal"></div>
          <h2 class="text">Principal</h2>
          <p class="money-sign">R$</p>
          <p class="value">{{ investimentos.principal | currencyFormat: 2:'' }}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
        
        
        <mat-list-item>
          <div class="category juros"></div>
          <h2 class="text">Juros</h2>
          <p class="money-sign">R$</p>
          <p class="value">{{ investimentos.juros | currencyFormat: 2:'' }}</p>
        </mat-list-item>
        
      </section>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="action-btn" (click)="goto('empresas-investidas')">
      VER EMPRESAS
    </button>
  </mat-card-actions>
</mat-card>



<!-- Card Movimentação -->


<mat-card class="margin">
  <mat-card-title-group>
    <mat-card-subtitle>Extrato dos últimos 7 dias</mat-card-subtitle>
    <mat-card-title class="title">{{ movimentacao.total | currencyFormat: 2 }}</mat-card-title>
    <button mat-icon-button (click)="hide=!hide">
      <mat-icon *ngIf="hide">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!hide">keyboard_arrow_up</mat-icon>      
    </button>
  </mat-card-title-group>
  
  <div class="linear-graph movimentacao"></div>
  
  <mat-card-content [ngStyle]="{ 'display': (hide)?'none':'inherit' }">
    <mat-list>
      <section class="mat-typography">
        
        <mat-list-item *ngFor="let item of movimentacao.extrato">
          <!-- <div class="category principal"></div> -->
          <h2 mat-line>{{item.empresa}}</h2>
          <p mat-line>{{item.data}}</p>
          <!-- <section class="mat-typography">
          </section> -->
          <p class="money-sign">R$</p>
          <p class="value">{{item.valor | currencyFormat: 2:''}}</p>
          <mat-divider></mat-divider>
          
        </mat-list-item>
        
        <!-- <mat-divider></mat-divider> -->
        
      </section>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="action-btn" (click)="goto('movimentacao')">
      VER MOVIMENTAÇÂO
    </button>
  </mat-card-actions>
</mat-card>































<!-- <div class="carteira">

    <div>
      <app-search (output)="search($event)"></app-search>

      <mat-card class="margin investimentos">
        <mat-card-content>
          <mat-list class="investimentos-list">
            <mat-list-item class="status-item" *ngFor="let empresa of investimentos" (click)="openEmpresa(empresa.id)" [ngClass]="borderStatus(empresa.status)">
              
              <h2 mat-line class="text-wrap">{{empresa.nome}}</h2>
              <p mat-line>
                Status:
                {{empresa.status}}
              </p>
              <p mat-line>
                Investido: 
                {{empresa.investido | currencyFormat}}
              </p>
              <p mat-line>
                Total:
                {{empresa.emprestimo | currencyFormat}}
              </p>
            
              <div *ngIf="empresa.porcentagem!=100">
                <p class="progress-spinner">{{empresa.porcentagem}}%</p>
                <mat-progress-spinner
                  class="progress-spinner"
                  [diameter]="50" 
                  [value]="empresa.porcentagem"
                  color="primary">
                </mat-progress-spinner>
              </div>                

              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

</div> -->