<!--   -->

<div class="carteira">
  <!-- <mat-tab-group>
    <mat-tab label="Resumo">
      <div>
        <mat-card class="margin">
          <mat-card-header>
            <mat-card-title>Distribuição</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <canvas #carteiraChart></canvas>
            </div>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="margin">
          <mat-card-header>
            <mat-card-title>Movimentação</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <canvas #movimentacaoChart></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Investimentos"> -->






      <div>
        <app-search (output)="search($event)"></app-search>

        <mat-card class="margin investimentos">
          <mat-card-content>
            <mat-list class="investimentos-list">
              <mat-list-item class="status-item" *ngFor="let empresa of investimentos" (click)="openEmpresa(empresa.id)" [ngClass]="borderStatus(empresa.status)">
                
                <h2 mat-line class="text-wrap">{{empresa.nome}}</h2>
                <p mat-line>
                  Status:
                  {{empresa.status}}
                </p>
                <p mat-line>
                  Investido: 
                  {{empresa.investido | currencyFormat}}
                </p>
                <p mat-line>
                  Total:
                  {{empresa.emprestimo | currencyFormat}}
                </p>
                
                                
                <!-- <button class="more-btn" mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
                </button> -->
                <div *ngIf="empresa.porcentagem!=100">
                  <p class="progress-spinner">{{empresa.porcentagem}}%</p>
                  <mat-progress-spinner
                    class="progress-spinner"
                    [diameter]="50" 
                    [value]="empresa.porcentagem"
                    color="primary">
                  </mat-progress-spinner>
                </div>                

                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>





<!--       
    </mat-tab>
  </mat-tab-group> -->



  <!-- <section class="mat-typography"> -->
    
    <!-- <h1>Movimentação</h1>
    <div>
      <canvas id="movimentacaoChart"></canvas>
    </div> -->
    
    <!-- <mat-divider></mat-divider> -->

    

  <!-- </section> -->
  
</div>