
<div class="background">

  <mat-toolbar class="mat-elevation-z8 align-tabs">
    <button mat-icon-button (click)="goback()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Movimentação</h1>
    <button mat-icon-button disabled>
      <!-- <mat-icon>search</mat-icon> -->
    </button>
  </mat-toolbar>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let item of movimentacao">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!-- <div class="status" [ngClass]="borderStatus(empresa.status)"></div> -->
          {{item.data}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.total | currencyFormat}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    
      <mat-list *ngFor="let entrada of item.investido">
        <mat-list-item color="accent">
            <mat-icon matListIcon color="accent">remove</mat-icon>
            <p class="name text-wrap">{{entrada.empresa}}</p>
            <!-- <p class="align-right">{{entrada.valor | currencyFormat}}</p> -->
            <p class="real-sign">R$ </p>
            <p class="valor">{{entrada.valor | currencyFormat: 0:''}}</p>
          </mat-list-item>
      </mat-list>

      <mat-list *ngFor="let parcela of item.parcelas">
        <mat-list-item color="primary" (click)="openParcela(parcela.id,parcela.num)">
          <mat-icon matListIcon color="primary">add</mat-icon>
          <p class="name">{{parcela.empresa}}</p>
          <p class="real-sign">R$ </p>
          <p class="valor">{{parcela.liquido | currencyFormat: 2:''}}</p>
        </mat-list-item>
      </mat-list>
    
    </mat-expansion-panel>

  </mat-accordion>
</div>

<!-- fab -->
<button mat-fab color="accent" class="filter" (click)="openFiltro()"><mat-icon>filter_list</mat-icon></button>