.align-info {
    /* margin: 0 auto; */
    text-align: center;    
    display: flex;
    justify-content: space-between;
}

.align-right {
    /* text-align: right; */
    margin-right: 0;
    margin-left: auto; 
}

/* .margin {
    margin: 14px;
} */

.filter {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.text-wrap {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;    
}

.name {
    /* width: fit-content; */
    /* position: absolute;
    left: 55px;
    right: 80px;
    top: 0; */
    position: relative;
    left: 0px;
    width: 65%;
    top: 0;
}


.real-sign {
    position: absolute;
    right: 60px;
    top:0;
}

.valor {
    position: absolute;
    right: 0;
    top: 0;
}


